.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.grid-card__img {
  width: 100%;
  border-radius: 8px;
}

.grid-card a {
  text-decoration: none;
}

.grid-card__title {
  text-align: center;
  padding: 1rem;
}